@model NoteViewModel

@{
    ViewData["Title"] = "Manage your note list";
}

<div class="todo-panel">
  <div>@ViewData["Title"]</div>

  <table>
      <thead>
          <tr>
              <td>&#x2714;</td>
              <td>Item</td>
              <td>Due</td>
          </tr>
      </thead>

      @foreach (var item in Model.Notes)
      {
          <tr>
              <td>
                <input type="checkbox">
              </td>
              <td>@item.Title</td>
              <td>@item.TimeToComplete</td>
          </tr>
      }
  </table>

  <div>
    <!-- TODO: Add item form -->
  </div>
</div>